<div class="auth0-features">
  <h2 class="auth0-features__title">Explore Auth0 Features</h2>
  <div class="auth0-features__grid">
    <%= render partial: "layouts/partials/auth0_feature", collection: @resources, as: :resource %>
  </div>
</div>
