<div class="hero-banner hero-banner--aqua-emerald">
  <div class="hero-banner__logo">
    <img
      class="hero-banner__image"
      src="https://cdn.auth0.com/blog/developer-hub/rails-logo.svg"
      alt="Rails logo"
    />
  </div>
  <h1 class="hero-banner__headline">Hello, Rails World!</h1>
  <p class="hero-banner__description">
    This is a sample application that demonstrates the authentication flow for
    Rails web apps using <strong>Auth0</strong>.
  </p>
  <a
    id="code-sample-link"
    target="_blank"
    rel="noopener noreferrer"
    href="https://auth0.com/developers/hub/code-samples/web-app/rails/basic-authentication"
    class="button button--secondary"
  >
    Check out the Rails code sample →
  </a>
</div>
